.order-product-table table{
	border:2px solid green;
	padding:20px;

}

@media only screen and (min-width: 601px) {
    .mobile-view {
        display:none;
    }
}


@media only screen and (max-width: 600px) {
    .desktop-view {
        display:none;
    }
    .container{
        margin-bottom:15%;
    }
	.order-class{

	}
	.tile-order{
		font-size: 12px;
		padding: 8px 15px;
		margin: 3px 0px;
		border-radius: 5px;
		background: linear-gradient(356.31deg, #e1e3f4 17.37%, #ffffff 70.19%);
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);  
	}
	.heading{
        font-size: 14px;
        background-color: #6da93b;
        font-weight: bold;
        padding: 8px;
        border-radius: 3px;
        color: white;
        margin: 0px 0px 0px 0px;
    }
    .text-align{
        text-align: right;
    }
    .scroll-container {
        height: 84vh;
        overflow-y: auto;

    }
	
}