.spinner{
    position: relative;
    display: inline-block;
}

.indbtn {
    margin: 5px;
}

.indusPrimaryButton{
    min-width: 180px !important;
}

table {
    display: block;
    max-width: fit-content;
    margin: 0 auto;
    overflow-x: auto;
    white-space: nowrap;
}

th, td{
    min-width: 150px;
}