/* contactForm.css */

/* Styles for larger screens */
.slds-section__title {
    background-color: #6da93b;
    font-weight: bold;
}

.slds-col {
    display: inline-block;
    width: calc(50% - 0.75rem); /* Adjust width as needed */
}

/* Styles for smaller screens */
@media (max-width: 767px) {
    .slds-p-around_medium {
        padding: 1rem;
    }
    .farmer-details{
        padding: 10px;
        height: 75vh;
    }

    .slds-col {
        display: block;
        width: 100%;
    }
      .form-edit-container{
    padding:5px;
    }
    .button-mar{
        margin:12px;
    }
    .contact-form{
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        padding: 8px;
    }
    .heading{
        font-size: 14px;
        background-color: #6da93b;
        font-weight: bold;
        padding: 8px;
        border-radius: 3px;
        color: white;
        margin: 15px 0px 0px 0px;
    }
    .heading-contact-deails{
        font-size: 14px;
        background-color: #6da93b;
        font-weight: bold;
        padding: 8px;
        border-radius: 3px;
        color: white;
        margin: 0px 6px 0px 6px;
    }
    .mar-top{
        margin-top: 10px;
    }
    .head-text{
        font-size: 14px;
        color: green;

    }
    .main-text{
        font-size: 15px;
        font-weight: 600;
    }
    .container{
        padding-bottom:12%;
    }
    .tile-contact{
        padding: 12px;
    }
    .videoElement{
		width:100%;
	}
	.camera-icon{
		cursor: pointer;
		cursor: pointer;
        width: 20%;
	}

}