.button{
    --sds-c-button-shadow:rgb(32, 204, 83);
    --sds-c-button-shadow-focus:blue;
    --sds-c-button-inverse-shadow-focus:rgb(148, 72, 114);
    --sds-c-button-neutral-color-background:rgb(255, 123, 0);
    --sds-c-button-neutral-color-border-hover:rgb(216, 119, 27);
}
.indusbutton{
    min-width: 150px !important;
}
.indusPrimaryButto{
    min-width: 50px !important;
}