th {
    text-align: center;
}

table {
    width: 100%;
    border: 0.5;
}
.exclamation{
    color: #ea001e;
    font-size: 25px;
    font-weight: 500;
    vertical-align: text-top;
}

.required{
    color: black !important;
}