.slds-modal.custom-modal .slds-modal__container {
    width: 100vw;  /* Full viewport width */
    height: 75vh; /* Full viewport height */
    max-width: 100vw;  /* Override default max-width */
    max-height: 100vh; /* Override default max-height */
    display: flex;
    flex-direction: column;
    padding: 0; /* Remove default padding */
    border-radius: 0; /* Remove border radius for full screen */
    position: absolute; /* Position absolute to control placement */
    left: 0; /* Align modal to the left side */
}

.slds-modal.custom-modal .slds-modal__header,
.slds-modal.custom-modal .slds-modal__footer {
    flex-shrink: 0;
    padding: 1rem; 
    font-size: 0.5rem; 
}

.slds-modal.custom-modal .slds-modal__content {
    flex-grow: 1;
    overflow: auto; /* Scrollable content area */
    padding: 1rem; /* Adjust padding */
    font-size: 1rem; /* Default font size */
}
.heading{
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}
.button-mar{
    margin:12px;
}
.tile-land{
    font-size: 12px;
    padding: 8px 15px;
    margin: 5px 5px;
    border-radius: 5px;
    background: linear-gradient(356.31deg, #e1e3f4 17.37%, #ffffff 70.19%);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.heading-land{
    font-weight: 600;
    color:green;
    text-align: center;
}
.heading-land-Edit{
    text-align: right;
    color:green;
}
.form-edit-container{
    padding:5px;
}

/* Responsive adjustments for mobile view */
@media only screen and (max-width: 600px) {
    .slds-modal.custom-modal .slds-modal__container {
        width: 80vw; /* Reduce width for mobile view */
        padding: 0.5rem; /* Add some padding for small screens */
    }

    .slds-modal.custom-modal .slds-modal__header,
    .slds-modal.custom-modal .slds-modal__footer {
        padding: 0.5rem; /* Adjust padding for mobile view */
        font-size: 0.875rem; /* Reduce font size for mobile view */
    }

    .slds-modal.custom-modal .slds-modal__content {
        padding: 0.5rem; /* Adjust padding for mobile view */
        font-size: 0.875rem; /* Reduce font size for mobile view */
    }
    .cardSpinner{
    position: relative;
    }
    .container{
        margin-bottom: 15%;

    }
    .harvest-text{
        font-size: 14px ;
        font-weight: 600;
        text-align: left;
        color:green;
    }
    .edit-text{
        font-size: 14px ;
        font-weight: 600;
        text-align: right;
        color:green;
        cursor: pointer;
    }
    .bottom-section{
        margin-top: 13px;
        padding: 10px;
        border-top: 1px dotted grey;
        cursor: pointer;

    }
    .align-right{
        text-align: right;
        font-size: 14px;

    }
    .heading-data,
    .text-data{
        font-size: 12px;
        font-weight: 600;
        padding: 1px;
    }

}