/*
.datatable-full-size {
  width: 500% !important;
  }
  */

.button-1 {
    min-width: 200px;
}

.this.button-2 {
    margin-right: 10px!important;
}

.this.button-3 {
    margin-right: 10px!important;
}